.hero{
    background-image: linear-gradient(rgba(31, 31, 31, 0.6), rgba(31, 31, 31, 0.5)), url(../../img/hero.png);
    background-repeat: no-repeat;
    background-size: 225%;
    background-position: 81% 95%;
    @include mq($tablet){
        background-size: 100%;
        background-position: 83% 80%;
    }
}

.contact{
    background-image: linear-gradient(rgba(44, 44, 44, 0.6), rgba(44, 44, 44, 0.5)), url(../../img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    @include mq($tablet){
        background-size: 100%;
        background-position: 50% 75%;
    }
    @include mq($desktop){
        background-position: 50% 65%;
    }
}