.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 30% 0;
    @include mq($tablet){
        padding: 15% 0;
    }
    @include mq($desktop){
        padding: 10%;
    }
}